doctype html
html(lang="en")
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{lingua.install.title}
        link(href='/css/bootstrap.min.css',rel='stylesheet')
    body
        div(class='alert alert-danger') #{error}