footer
    div


        span(class='glyphicon glyphicon-user')
        span #{online}
        span &nbsp;|&nbsp;
        a(href='https://github.com/paulomcnally/Node-Community',target='_blank') GitHub
